textarea {
   resize: none;
}
.post-question{
    width: 200px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 20px;
}
.margin-class{
    margin: 10px 0px;
}

.validation{
    margin-top: 5px;
    display: block;
    color: #ff0000;
}