#qTitle{
	clear: both;
    padding: 5px 0;
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 1em;
}
#questioncontainer{
	clear: both;
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 1em;
}
.comment-p{
	clear: both;
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 1em;
    
}
#questioncomments{
	padding-left: 20px;	

}
.add-comment-link{
	color: #888;
    opacity: .6;
    padding: 0 3px 2px 3px;
}
.answerdiv{
    border-bottom: 1px solid #E5E5E5;
}
a.add-comment-link:hover {
    padding: 0 3px 2px 3px;
    text-decoration: none;
}
.new-comment-element{
    width: 100%;
}
.newcomment-txtarea{
    width: inherit;
}
.answerheader {
    height: 34px;
    border-bottom: 1px solid #eaebec;
}

.vote{
	margin: 20px 0 0 0px;
}

.vote-up{
	cursor: pointer;
}
.add-comment-link{
    cursor: pointer;
}
.vote-down{
	cursor: pointer;
}
.validation{
    margin-top: 5px;
    display: block;
    color: #ff0000;
}
.submit{
    padding-left: 5px;
    padding-right: 5px;
    width: 100px;
}
.post-answer{
    width: 200px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 20px;
}
.cancel{
    margin-left: 10px;
    width: 100px;
}
.answercell{
	padding-left: 40px !important;

}

.answer-text{
	margin: 20px 0 0 10px;
}

.time-text{
	margin: 20px 0 0 10px;
}

.user-details{
	margin: 20px 0 0 10px;
	clear: both;
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 1em;
}

.slider-wrapper {
    margin: 30px 0 10px 0px;
    position: relative;
    width: 100px;
}
.hide{
	visibility: visible;
}

.answer-comments{
	padding-left: 60px;	
}

.slider-wrapper-downvote{
	margin: 10px 0 30px 0px;
    position: relative;
    width: 100px;
}


.range-bar {
    background-color: #a9acb1;
    border-radius: 15px;
    display: block;
    height: 4px;
    position: relative;
    width: 100%;
}

.range-handle {
    background-color: #fff;
    border-radius: 100%;
    cursor: pointer;
    height: 25px !important;
    left: 0;
    top: -13px !important;
    position: absolute;
    width: 10px !important;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.range-min, .range-max {
    color: #181819;
    font-size: 12px;
    height: 20px;
    padding-top: 4px;
    position: absolute;
    text-align: center;
    top: -9px;
    width: 24px;
}

.range-quantity {
    background-color: #017afd;
    border-radius: 15px;
    display: block;
    height: 100%;
    width: 0;
}

.votecell{
    width: 30%;
}
.emoticon{
    width: 7%;
    height: 7%;
    display: inline;
    cursor: pointer;
}
.selected-image{
   box-shadow:0px 12px 22px 1px #333;
}

.border-radius-10{
    border-radius: 10px;
}
.border-radius-20{
    border-radius: 20px;
}
.border-radius-100{
    border-radius: 100px;
}
.width-one{
    width: 20%;
    height: 20%;
}
.width-two{
    width: 17%;
    height: 17%;
}
.width-three{
    width: 15%;
    height: 15%;
}
.width-four{
    width: 10%;
    height: 10%;
}
.width-five{
    width: 7%;
    height: 7%;
}
.opacity-one{
    opacity: 1;
}
.opacity-two{
    opacity: 0.8;
}
.opacity-three{
    opacity: 0.6;
}
.opacity-five{
    opacity: 0.4;
}
.opacity-six{
    opacity: 0.2;
}
blockquote {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #FFF8DC;
    border-left: 2px solid #ffeb8e;
    overflow-wrap: break-word;

}
blockquote, q {
    quotes: none;
}
