.container {
    margin-left: 5%;
    width: 1000px;
    margin-right: 5%;
}

.heading {
    text-align: center;
}

.tableHolder {
    margin-left: 30%;
    margin-right: 30%;
}

.cell {
    border-radius: 6px;
}


.highlight-1 {
    color: white;
}


th, td {
   border: 1px solid black;   
   padding: 30px;
}

.post {
    border: 1px solid #E4E4E4;    
    border-radius: 10px;
    text-align: center;
    font-size: 25px;    
    margin-top: 10px;    
    overflow: auto;
}

.questionText {    
    border-radius: 8px;
}

.questionText span {
    font-size: 20px;
}

.bulb {    
    width: 70px;
    height: 70px;
    vertical-align: middle;
}

.group {    
    width: 70px;
    height: 70px;
    vertical-align: middle;
}

.bulbholder a {
    text-decoration: none;
}

.bulbholder a:hover {
    text-decoration: none; 
}

.groupholder a {
    text-decoration: none;
}

.groupholder a:hover {
    text-decoration: none; 
}

.setwidth {
    width: 590px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
    word-wrap: break-word;
    float:right  ;
}

.sortbyBox {
    float: right;
    overflow: auto;
}

.questionsList {
    width: 800px;
    margin-right: 15%;
}

.questionText {
    text-decoration: none;
    vertical-align: center;
}

input[type="range"] {
    width: 200px; 
    
}

.rangeroutput{
    display: inline;
}

.initial {
    text-transform: capitalize;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

ul.pagination li a.active {
    background-color: #3288BD;
    color: white;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

.paginationHolder {
    text-align: center;
    margin: 10px;
    display: none;
}

#loader {
    margin: auto;
    width: 60%;
    padding: 20px;
    text-align: center;
}

.coffee {
    width: 100px;
    height: 100px;
}

.topics-list {
    margin-top: 40px;
}

.topics-list ul li {
    cursor: pointer;
    padding: 20px;
    margin: 5px;
    text-align: center;
}

.grid-table tr td {
    cursor: pointer;
}

mark {
    background-color: #DAF7A6 !important;
    font-size: medium !important;

}

.topics-list div ul
{
    list-style-type: none;
}

/* Dropdown CSS */

.dropbtn {
    background-color: #2E9AFE;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #2E9AFE;
}


.recco {
    margin-bottom: 10px;
}

