<!-- Template for adding list of answers on the page -->
<div class='answerdiv' data-id='answerid'>
	<div class='table-responsive'>
		<table class='table'>
			<tbody>
				<td class='answercell'>
					<div class='answer-text' data-content='answercontent'>
					</div>
					<div class='time-text'>
						<p>
							<span class='glyphicon glyphicon-time'></span>
							<span data-content='answertime'></span>
						</p>
					</div>
					<div class='user-details'>
						<p>
							by
							<a data-href='userUrl' data-content='ansusername'></a>
						</p>
						<div class='voters' data-id='answervoteid'>
							<img src="/static/img/Excited.jpg" data-class='isExcited' alt='excited' />
							<img src="/static/img/Happy.jpg" data-class='isHappy' alt='happy' />
							<img src="/static/img/Poker.jpg" data-class='isPoker' alt='poker' />
							<img src="/static/img/Confused.jpeg" data-class='isConfused' alt='confused' />
							<img src="/static/img/Angry.jpg" data-class='isAngry' alt='angry' />
						</div>
					</div>
					<div class='answer-comments' data-id="answercommentdivid" data-content='answercomments'>
					</div>
					<p class='add-comment-link'>add a comment</p>
				</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
